.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  display: inline-block;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.title-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}